body {

font-family: 'Times New Roman', Times, serif;
}
main{
    color: rgb(255, 255, 255);
    background-image: url("https://wallpapers.com/images/hd/mk11-gunslinger-erron-black-bn5tjajwg6v3m6dl.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
header {
background-color: rgb(255, 115, 115);
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
}

.grid-wrapper {
    display: grid;
    height: 82vh;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}





.navigation {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
background-color: rgb(255, 255, 255);
justify-content: space-between;
padding-inline: 16px;
}
.nav-item {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    cursor: pointer;

}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.flex-wrapper > div {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.nav-item:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 135, 135);
    transition: 0.5s;
}

.nav-list {
    display: flex;
    gap: 10px;
    padding-left: 0;
    list-style: none;
}

.nav-list > li {
    background-color: rgb(255, 135, 135);
}

.svg-icon rect {
    fill: white;
}