body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/599ce912-73bb-4d30-a758-68953151088c/dd0xg4a-2420bcc6-7c19-489b-88cc-486a8b9efaef.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU5OWNlOTEyLTczYmItNGQzMC1hNzU4LTY4OTUzMTUxMDg4Y1wvZGQweGc0YS0yNDIwYmNjNi03YzE5LTQ4OWItODhjYy00ODZhOGI5ZWZhZWYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.1R7s86hIBUE0cSR3bFsc6Zkc8MveF4A_vaJZu-xuY78");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
font-family: 'Times New Roman', Times, serif;
}
main{
    color: white;
}
header{
color: white;
}
.grid-wrapper {
    display: grid;
    height: 82vh;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
}